<div class="container">
    <div class="theme">
        <span>Change Theme:</span>
        <lib-toggle-switch
        [switchProps]="{
            id:'switch-theme',
            size:2,
            primaryColor:'#004455',
            accentColor:'#ffffff'
        }"
        (switchToggle)="onToggle($event)">
        </lib-toggle-switch>
    </div> 
    <div class="settings">
        <span>Change Settings:</span>
        <lib-toggle-switch
        [switchProps]="{
            id:'switch-settings',
            size:2
        }"
        (switchToggle)="onToggle($event)">
        </lib-toggle-switch>
    </div>
</div>
<router-outlet></router-outlet>
