<div class="container">
    <span>
        <label for="">Custom</label>
        <lib-toggle-switch
        [switchProps]="{
            id:'custom',
            primaryColor:'#ffffff',
            accentColor:'#DD0000'
        }"
        (switchToggle)="onToggle($event)">
        </lib-toggle-switch>
    </span>
    <span>
        <label>Global</label>
        <lib-toggle-switch
        [switchProps]="{id:'global'}"
        (switchToggle)="onToggle($event)">    
        </lib-toggle-switch>
    </span>
    <span>
        <label for="">Basic</label>
        <lib-toggle-switch
        [switchProps]="{id:'125',size:2}"
        (switchToggle)="onToggle($event)">
        </lib-toggle-switch>
    </span>
</div>
<router-outlet></router-outlet>
